@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

:root {
  --blue-dark: hsl(243, 87%, 12%);
  --blue: hsl(224, 93%, 58%);

  --cyan: hsl(170, 45%, 43%);
  --purple: hsl(238, 22%, 44%);

  --gray-light: hsl(240, 75%, 98%);
  --gray: hsl(0, 0%, 75%);

  --white: hsl(0, 0%, 100%);

  --red: hsl(0, 100%, 63%);
  --box-shadow: 0px 0px 15px rgba(240, 239, 245, 0.89);

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

body {
  color: var(--blue-dark);
  font-family: var(--font-primary);
}
